body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial;
}
#root {
  width: 100%;
  padding: 2rem;
}

:root {
  --button-color: #e5f3ff;
  --button-color-border: #ababab;
}

h3 {
  margin-top: 0;
  color: #00bcd4;
}

h5 {
  margin-block: 10px;
}

@media only screen and (max-width: 600px) {
  h4 {
    font-size: 14px;
  }
}
